<footer class="bg-primary pt-10 md:pt-20">
    <div class="container mx-auto max-w-screen-xl px-4 md:px-9 pb-14 px-4 md:px-14 grid grid-cols-1 md:grid-cols-4 gap-5">
        <a href="/" class="block">
            <img class="w-28" src="/assets/images/gp-logo.svg" alt="">
        </a>
        <div class="text-white">
            <h6 class="text-xl font-gtWalsheimBold mb-6">
                GrowthPad Limited.
            </h6>
            <p class="text-base">
                <span class="block">
                    Office 4 at Number 8
                </span>
                <span class="block">
                    Cavendish Court
                </span>
                <span class="block">
                    South Parade
                </span>
                <span class="block">
                    Doncaster
                </span>
                <span class="block">
                    DN1 2DJ
                </span>
            </p>
            <div class="text-base mt-4">
                <a href="email:hi@growthpad.co.uk" class="block duration-300 hover:text-secondery">
                    hi@growthpad.co.uk
                </a>
                <a href="telephone:01302460221" class="block duration-300 hover:text-secondery">
                    01302 460 221
                </a>
            </div>
        </div>
        <div class="text-white">
            <h6 class="text-xl font-gtWalsheimBold mb-6">
                Quick Links
            </h6>
            <ul class="text-base leading-loose">
                <li>
                    <a href="/taxExplain" class="duration-300 hover:opacity-70">
                        R&D Tax Explained
                    </a>
                </li>
                <li>
                    <a href="/taxShow" class="duration-300 hover:opacity-70">
                        R&D Tax Show
                    </a>
                </li>
                <li>
                    <a class="fdLink duration-300 hover:opacity-70 cursor-pointer">
                        <span class="w-full flex items-start justify-between">
                            Working with accountants
                            <svg class="fdIcon transform w-4 h-8 duration-300 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </span>
                    </a>
                    <ul class="fdContent duration-300 ml-4 max-h-0 overflow-hidden">
                        <li>
                            <a href="/whyUs" class="duration-300 hover:opacity-70">
                                Why choose GrowthPad?
                            </a>
                        </li>
                        <li>
                            <a href="/faq" class="duration-300 hover:opacity-70">
                                Frequently Asked Questions
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/blog" class="duration-300 hover:opacity-70">
                        Blog
                    </a>
                </li>
            </ul>
        </div>
        <div class="text-white">
            <h6 class="text-xl font-gtWalsheimBold mb-6">
                Social
            </h6>
            <ul class="flex flex-wrap">
                <li>
                    <a href="" class="block mr-2 m-b-2">
                        <img class="w-12" src="/assets/images/gp-logo.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="" class="block mr-2 m-b-2">
                        <img class="w-12" src="/assets/images/gp-logo.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="" class="block mr-2 m-b-2">
                        <img class="w-12" src="/assets/images/gp-logo.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="" class="block mr-2 m-b-2">
                        <img class="w-12" src="/assets/images/gp-logo.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bg-darkSecondery border-t border-gray-50 border-opacity-10 py-4">
        <div class="container mx-auto max-w-screen-xl px-4 md:px-9 text-center">
            <p class="text-white text-base leading-normal">
                Copyright © 2020 GrowthPad Limited. 
                Company registration no: 10610522. All rights reserved.
            </p>
        </div>
    </div>
</footer>