---
layout: layout.njk
---

<article class="max-w-screen-md py-40">
  <h1 class="font-grandRoyal font-normal text-primary text-4xl sm:text-6xl sm:leading-tight opacity-80">
    {{title}}
  </h1>
  <div class="mt-10">
    {{content | safe}}
  </div>
</article/>