---
title : Blog
layout : subPage.njk
heroHeader: Blog
pagination:
    data: collections.post
    size: 6
    reverse: true
    alias: posts
---

<!-- previous episode -->
<section class="py-14">
    <div class="container max-w-screen-xl mx-auto px-4 md:px-9 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for post in posts %}
        <div class="bg-white shadow-lg hover:shadow-xl duration-300 rounded-xl overflow-hidden">
            <a href="{{ post.url | url }}" class="block overflow-hidden h-52 sm:h-80 md:h-60 lg:h-52 relative">
                <img class="w-full absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4" src="{{ post.url}}{{post.data.featuredImage}}" alt="img">
            </a>
            <article class="p-6">
                <a href="{{ post.url | url }}" class="block text-primary text-xl leading-tight font-gtWalsheimMedium mb-3">
                    {{ post.data.title }}
                </a>
                <p class="text-textLight text-base opacity-80">
                    {{ post.data.postDate }}
                </p>
            </article>
        </div>
        {% endfor %}
    </div>
</section>