---
title : Blog
layout : subPage.njk
heroHeader: Blog
---

<!-- previous episode -->
<section class="py-14">
    <div class="container max-w-screen-xl mx-auto px-4 md:px-9 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg hover:shadow-xl duration-300 rounded-xl overflow-hidden">
            <a href="singlePost.html" class="block overflow-hidden h-52 sm:h-80 md:h-60 lg:h-52 relative">
                <img class="w-full absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4" src="/assets/images/taxShow/tsImg2.jpg" alt="img">
            </a>
            <article class="p-6">
                <a href="singlePost.html" class="block text-primary text-xl leading-tight font-gtWalsheimMedium mb-3">
                    Qui facilis quae est
                </a>
                <p class="text-textLight text-base opacity-80">
                    November 26, 2020
                </p>
            </article>
        </div>
        <div class="bg-white shadow-lg hover:shadow-xl duration-300 rounded-xl overflow-hidden">
            <a href="" class="block overflow-hidden h-52 sm:h-80 md:h-60 lg:h-52 relative">
                <img class="w-full absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4" src="/assets/images/taxShow/tsImg3.jpg" alt="img">
            </a>
            <article class="p-6">
                <a href="" class="block text-primary text-xl leading-tight font-gtWalsheimMedium mb-3">
                    Saepe culpa magnam excepturi
                </a>
                <p class="text-textLight text-base opacity-80">
                    November 23, 2020
                </p>
            </article>
        </div>
        <div class="bg-white shadow-lg hover:shadow-xl duration-300 rounded-xl overflow-hidden">
            <a href="" class="block overflow-hidden h-52 sm:h-80 md:h-60 lg:h-52 relative">
                <img class="w-full absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4" src="/assets/images/taxShow/tsImg4.png" alt="img">
            </a>
            <article class="p-6">
                <a href="" class="block text-primary text-xl leading-tight font-gtWalsheimMedium mb-3">
                    Eos nesciunt aut et architecto qui eum
                </a>
                <p class="text-textLight text-base opacity-80">
                    November 23, 2020
                </p>
            </article>
        </div>
        <div class="bg-white shadow-lg hover:shadow-xl duration-300 rounded-xl overflow-hidden">
            <a href="" class="block overflow-hidden h-52 sm:h-80 md:h-60 lg:h-52 relative">
                <img class="w-full absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4" src="/assets/images/taxShow/tsImg5.png" alt="img">
            </a>
            <article class="p-6">
                <a href="" class="block text-primary text-xl leading-tight font-gtWalsheimMedium mb-3">
                    Eos nesciunt aut et architecto qui eum
                </a>
                <p class="text-textLight text-base opacity-80">
                    November 23, 2020
                </p>
            </article>
        </div>
        <div class="bg-white shadow-lg hover:shadow-xl duration-300 rounded-xl overflow-hidden">
            <a href="" class="block overflow-hidden h-52 sm:h-80 md:h-60 lg:h-52 relative">
                <img class="w-full absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4" src="/assets/images/taxShow/tsImg6.jpg" alt="img">
            </a>
            <article class="p-6">
                <a href="" class="block text-primary text-xl leading-tight font-gtWalsheimMedium mb-3">
                    Eos nesciunt aut et architecto qui eum
                </a>
                <p class="text-textLight text-base opacity-80">
                    November 23, 2020
                </p>
            </article>
        </div>
        <div class="bg-white shadow-lg hover:shadow-xl duration-300 rounded-xl overflow-hidden">
            <a href="" class="block overflow-hidden h-52 sm:h-80 md:h-60 lg:h-52 relative">
                <img class="w-full absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4" src="/assets/images/taxShow/tsImg4.png" alt="img">
            </a>
            <article class="p-6">
                <a href="" class="block text-primary text-xl leading-tight font-gtWalsheimMedium mb-3">
                    Eos nesciunt aut et architecto qui eum
                </a>
                <p class="text-textLight text-base opacity-80">
                    November 23, 2020
                </p>
            </article>
        </div>
    </div>
</section>