---
title : Frequently Asked Questions
layout : subPage.njk
heroHeader: Frequently Asked Questions
---

<!-- simple text -->
<section class="py-14">
    <div class="container max-w-screen-md mx-auto px-4 text-lg text-textColor">
        <p class="mb-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Consectetur ornare at viverra dictum commodo sapien 
            maecenas amet. Eget non tincidunt enim nec lectus nunc 
            sed. Vitae nulla gravida in felis eget in. Ut 
            sed arcu, vitae velit vulputate proin nunc.
        </p>
        <p class="mb-8">
            Scelerisque consequat ultrices diam convallis ultrices lacinia 
            ultrices pellentesque massa. Pulvinar in varius fames est imperdiet. 
            Convallis lobortis dignissim id elementum nibh a nunc.
        </p>
    </div>
</section>

<!-- faq section -->
<section class="bg-gray-100 py-20">
    <div class="container max-w-screen-lg px-4 md:px-9 mx-auto">
        <div class="shadow-lg bg-white py-6 px-8 mb-6 rounded-lg">
            <h5 class="faqHeader flex items-start cursor-pointer justify-between text-xl text-primary font-gtWalsheimMedium">
                <span>
                    We already work with an R&D tax consultancy.
                </span>
                <span class="block w-6 h-6 text-secondery">
                    <svg class="faqIcon duration-300 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </span>
            </h5>
            <div class="faqText text-lg max-h-0 overflow-hidden duration-300 text-primary">
                <p class="my-3">
                    At GrowthPad, we want accountants to be comfortable with 
                    the R&D tax claims that 
                    are being submitted on behalf of your clients.
                </p>
                <p class="my-3">
                    Once the claim is finalised, we provide you with details 
                    of the claim, including the advance in science and technology 
                    and the uncertainties faced by your client. 
                    You can keep these details in the client’s records.
                </p>
                <p class="my3-4">
                    In addition, we provide a referral fee of 30% for all exclusive 
                    partnerships and 20% for non-exclusive partners.
                </p>
            </div>
        </div>
        <div class="shadow-lg bg-white py-6 px-8 mb-6 rounded-lg">
            <h5 class="faqHeader flex items-start cursor-pointer justify-between text-xl text-primary font-gtWalsheimMedium">
                <span>
                    We already work with an R&D tax consultancy.
                </span>
                <span class="block w-6 h-6 text-secondery">
                    <svg class="faqIcon duration-300 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </span>
            </h5>
            <div class="faqText text-lg max-h-0 overflow-hidden duration-300 text-primary">
                <p class="my-3">
                    At GrowthPad, we want accountants to be comfortable with 
                    the R&D tax claims that 
                    are being submitted on behalf of your clients.
                </p>
                <p class="my-3">
                    Once the claim is finalised, we provide you with details 
                    of the claim, including the advance in science and technology 
                    and the uncertainties faced by your client. 
                    You can keep these details in the client’s records.
                </p>
                <p class="my3-4">
                    In addition, we provide a referral fee of 30% for all exclusive 
                    partnerships and 20% for non-exclusive partners.
                </p>
            </div>
        </div>
        <div class="shadow-lg bg-white py-6 px-8 mb-6 rounded-lg">
            <h5 class="faqHeader flex items-start cursor-pointer justify-between text-xl text-primary font-gtWalsheimMedium">
                <span>
                    We already work with an R&D tax consultancy.
                </span>
                <span class="block w-6 h-6 text-secondery">
                    <svg class="faqIcon duration-300 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </span>
            </h5>
            <div class="faqText text-lg max-h-0 overflow-hidden duration-300 text-primary">
                <p class="my-3">
                    At GrowthPad, we want accountants to be comfortable with 
                    the R&D tax claims that 
                    are being submitted on behalf of your clients.
                </p>
                <p class="my-3">
                    Once the claim is finalised, we provide you with details 
                    of the claim, including the advance in science and technology 
                    and the uncertainties faced by your client. 
                    You can keep these details in the client’s records.
                </p>
                <p class="my3-4">
                    In addition, we provide a referral fee of 30% for all exclusive 
                    partnerships and 20% for non-exclusive partners.
                </p>
            </div>
        </div>
        <div class="shadow-lg bg-white py-6 px-8 mb-6 rounded-lg">
            <h5 class="faqHeader flex items-start cursor-pointer justify-between text-xl text-primary font-gtWalsheimMedium">
                <span>
                    We already work with an R&D tax consultancy.
                </span>
                <span class="block w-6 h-6 text-secondery">
                    <svg class="faqIcon duration-300 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </span>
            </h5>
            <div class="faqText text-lg max-h-0 overflow-hidden duration-300 text-primary">
                <p class="my-3">
                    At GrowthPad, we want accountants to be comfortable with 
                    the R&D tax claims that 
                    are being submitted on behalf of your clients.
                </p>
                <p class="my-3">
                    Once the claim is finalised, we provide you with details 
                    of the claim, including the advance in science and technology 
                    and the uncertainties faced by your client. 
                    You can keep these details in the client’s records.
                </p>
                <p class="my3-4">
                    In addition, we provide a referral fee of 30% for all exclusive 
                    partnerships and 20% for non-exclusive partners.
                </p>
            </div>
        </div>
        <div class="shadow-lg bg-white py-6 px-8 mb-6 rounded-lg">
            <h5 class="faqHeader flex items-start cursor-pointer justify-between text-xl text-primary font-gtWalsheimMedium">
                <span>
                    We already work with an R&D tax consultancy.
                </span>
                <span class="block w-6 h-6 text-secondery">
                    <svg class="faqIcon duration-300 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </span>
            </h5>
            <div class="faqText text-lg max-h-0 overflow-hidden duration-300 text-primary">
                <p class="my-3">
                    At GrowthPad, we want accountants to be comfortable with 
                    the R&D tax claims that 
                    are being submitted on behalf of your clients.
                </p>
                <p class="my-3">
                    Once the claim is finalised, we provide you with details 
                    of the claim, including the advance in science and technology 
                    and the uncertainties faced by your client. 
                    You can keep these details in the client’s records.
                </p>
                <p class="my3-4">
                    In addition, we provide a referral fee of 30% for all exclusive 
                    partnerships and 20% for non-exclusive partners.
                </p>
            </div>
        </div>
    </div>
</section>