---
title : Working with accountants
layout : subPage.njk
heroHeader: Working with accountants
---
<!-- simple text -->
<section class="py-14">
    <div class="container max-w-screen-md mx-auto px-4 text-lg text-textColor">
        <p class="mb-8">
            Do you want to work with a specialist that has 
            your and your client’s interest?
        </p>
        <p class="mb-8">
            We enjoy working with accountants and we believe accountants 
            stand side by side with their clients. 
        </p>
        <p class="mb-8">
            That’s why our processes involve working closely with 
            accountants providing 
            education and tools to help you, help your clients.
        </p>
    </div>
</section>

<!-- How will we work together? -->
<section class="bg-gray-100 py-14">
    <div class="container max-w-screen-lg mx-auto px-4">
        <div class="flex items-center flex-col md:flex-row mb-10">
            <figure class="md:w-5/12">
                <img class="mb-8 md:mb-0 w-full md:w-9/12" src="/assets/images/ourProcess/step.jpg" alt="process">
            </figure>
            <div class="md:w-7/12">
                <h4 class="text-primary font-gtWalsheimMedium text-3xl mb-6">
                    Step 1 - Contact
                </h4>
                <p class="text-lg mb-4">
                    We learn about your business, the 
                    type of clients you work with and 
                    understand your needs.
                </p>
            </div>
        </div>
        <div class="flex items-center flex-col md:flex-row mb-10">
            <figure class="md:w-5/12">
                <img class="mb-8 md:mb-0 w-full md:w-9/12" src="/assets/images/ourProcess/step.jpg" alt="process">
            </figure>
            <div class="md:w-7/12">
                <h4 class="text-primary font-gtWalsheimMedium text-3xl mb-6">
                    Step 2 - Provide you with training and review your 
                    client list to identify qualifying clients.
                </h4>
                <p class="text-lg mb-4">
                    Training and education are at the heart of GrowthPad and we show 
                    this by providing training to you and your team. This empowers your 
                    staff to have the confidence to discuss R&D tax relief with your clients and to 
                    spot opportunities where your clients will qualify.
                </p>
            </div>
        </div>
        <div class="flex items-center flex-col md:flex-row mb-10">
            <figure class="md:w-5/12">
                <img class="mb-8 md:mb-0 w-full md:w-9/12" src="/assets/images/ourProcess/step.jpg" alt="process">
            </figure>
            <div class="md:w-7/12">
                <h4 class="text-primary font-gtWalsheimMedium text-3xl mb-6"> 
                    Step 3 – Working with your clients
                </h4>
                <p class="text-lg mb-4">
                    Once you have introduced us to your client, we undertake due diligence to 
                    confirm your client’s eligibility, identify your client’s qualifying 
                    costs and establish 
                    how many years your client can backdate a claim.
                </p>
                <p class="text-lg mb-4">
                    We keep you updated with the progress of your claim and provide 
                    both you and your client with a 
                    summary of the claim to file for your records.
                </p>
            </div>
        </div>
        <div class="flex items-center flex-col md:flex-row mb-10">
            <figure class="md:w-5/12">
                <img class="mb-8 md:mb-0 w-full md:w-9/12" src="/assets/images/ourProcess/step.jpg" alt="process">
            </figure>
            <div class="md:w-7/12">
                <h4 class="text-primary font-gtWalsheimMedium text-3xl mb-6">
                    Step 4 – Provide education to you and your team to 
                    help identify qualifying clients.
                </h4>
                <p class="text-lg mb-4">
                    It is important for us to keep in touch with you and provide you with 
                    education. This is delivered using various resources including face to 
                    face presentations, online videos, webinars and monthly newsletters.
                </p>
            </div>
        </div>
        <div class="flex items-center flex-col md:flex-row mb-10">
            <figure class="md:w-5/12">
                <img class="mb-8 md:mb-0 w-full md:w-9/12" src="/assets/images/ourProcess/step.jpg" alt="process">
            </figure>
            <div class="md:w-7/12">
                <h4 class="text-primary font-gtWalsheimMedium text-3xl mb-6">
                    Step 5 – Provide education to you and your team 
                    to help identify qualifying clients.
                </h4>
                <p class="text-lg mb-4">
                    We value our relationships. We therefore share the fee with you. 
                    This enables you to expand your firm’s services, whilst mitigating the risk of 
                    hiring expert staff but still getting a share of the revenue.
                </p>
                <p class="text-lg mb-4">
                    You grow your practice whilst your client can grow their business.
                </p>
            </div>
        </div>
    </div>
</section>