---
title : R&D Tax Explained
layout : subPage.njk
heroHeader: R&D Tax Explained
heroDesc: The R&D Tax Relief Scheme, in a nutshell.
includeWhySection: false
---

<!-- content section -->
<section>
    <div class="bg-white py-14">
        <div class="container max-w-screen-xl mx-auto px-4 md:px-9 flex flex-col md:flex-row justify-between items-start">
            <figure class="w-6/12 md:w-2/4 mb-10 md:mb-0 mx-auto">
                <img class="w-full md:w-9/12 lg:w-7/12 h-auto mx-auto" src="/assets/images/taxExplain/content1.svg" alt="">
            </figure>
            <div class="md:w-2/4">
                <h4 class="text-secondery text-3xl font-gtWalsheimBold">
                    What are R&D Tax Credits?
                </h4>
                <div class="mt-8">
                    <p class="mb-8 text-textColor text-lg">
                        The research and development tax scheme in the UK allows 
                        companies to claim back tax in the form of 
                        cash or a credit towards a corporation tax bill.
                    </p>
                    <p class="mb-8 text-textColor text-lg">
                        The tax credit is a form of government subsidy, designed to 
                        encourage companies to invest in research and development
                            activities to develop better products, 
                        materials, chemicals, technologies and services.
                    </p>
                    <p class="mb-8 text-textColor text-lg">
                        This tax credit is open to UK companies of all sizes who are
                            registered for Corporation Tax and companies can claim 
                        even if they are not currently profit-making.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-100 py-14">
        <div class="container max-w-screen-xl mx-auto px-4 md:px-9 flex flex-col md:flex-row justify-between items-start">
            <div class="md:w-2/4">
                <h4 class="text-secondery text-3xl font-gtWalsheimBold">
                    What are the benefits?
                </h4>
                <div class="mt-8">
                    <p class="mb-8 text-textColor text-lg">
                        R&D tax credits enable companies to get funding from the government 
                        which can then be spent on anything.
                    </p>
                    <p class="mb-8 text-textColor text-lg">
                        For some companies, this provides an instant improvement in 
                        cash flow. Other companies choose to spend this money on growing 
                        their business, hiring new employees or boosting their marketing budget. 
                        For loss making companies, this money comes in the form of 
                        a cash payment from HMRC. For profit making companies, 
                        the money comes from a reduction in their Corporation Tax payment.
                    </p>
                </div>
            </div>
            <figure class="w-6/12 md:w-2/4 mt-10 md:mt-0 mx-auto">
                <img class="w-full md:w-9/12 lg:w-7/12 h-auto mx-auto" src="/assets/images/taxExplain/content2.svg" alt="">
            </figure>
        </div>
    </div>
    <div class="bg-white py-14">
        <div class="container max-w-screen-xl mx-auto px-4 md:px-9 flex flex-col md:flex-row justify-between items-start">
            <figure class="w-6/12 md:w-2/4 mb-10 md:mb-0 mx-auto">
                <img class="w-full md:w-9/12 lg:w-7/12 h-auto mx-auto" src="/assets/images/taxExplain/content3.svg" alt="">
            </figure>
            <div class="md:w-2/4">
                <h4 class="text-secondery text-3xl font-gtWalsheimBold">
                    Who is eligible for R&D Tax Credits?
                </h4>
                <div class="mt-8">
                    <p class="mb-8 text-textColor text-lg">
                        The UK government have purposely left the definition of 
                        Research and Development Tax Credits wide to encourage UK 
                        businesses to spend money on creating better products and services.
                    </p>
                    <p class="mb-8 text-textColor text-lg">
                        Any UK based company in any industry could potentially claim back R&D. 
                        The scheme sets out guidelines about what business 
                        activities can be included in a claim and activities that can’t.
                    </p>
                    <p class="mb-8 text-textColor text-lg">
                        The most important thing is that the work undertaken makes 
                        an advancement or improvement in science or technology.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-100 py-14">
        <div class="container max-w-screen-xl mx-auto px-4 md:px-9 flex flex-col md:flex-row justify-between items-start">
            <div class="md:w-2/4">
                <h4 class="text-secondery text-3xl font-gtWalsheimBold">
                    How do you claim R&D tax credits?
                </h4>
                <div class="mt-8">
                    <p class="mb-8 text-textColor text-lg">
                        A company can create and submit an R&D claim without 
                        the help of a R&D tax specialist but most companies 
                        use one to make sure they’re claiming for everything possible.
                    </p>
                    <p class="mb-8 text-textColor text-lg">
                        Usually, using a specialist makes the process of claiming 
                        R&D tax credits a lot easier because they can 
                        quickly access what does and doesn’t qualify within a claim.t.
                    </p>
                    <p class="mb-8 text-textColor text-lg">
                        Specialists are also experienced in the report writing 
                        process, taking the burden of the 
                        process off the shoulders of company directors and staff.
                    </p>
                </div>
            </div>
            <figure class="w-6/12 md:w-2/4 mt-10 md:mt-0 mx-auto">
                <img class="w-full md:w-9/12 lg:w-7/12 h-auto mx-auto" src="/assets/images/taxExplain/content4.svg" alt="">
            </figure>
        </div>
    </div>
</section>

<!-- testimonials section -->
<section class="py-10">
    <div class="container max-w-screen-md px-4 md:px-0 mx-auto text-center">
        <h4 class="text-secondery text-3xl font-gtWalsheimBold mb-8">
            What our clients say
        </h4>
        <p class="text-textColor text-lg mb-14">
            Read a few of our testimonials.
        </p>
        <div class="max-w-screen-sm mx-auto testimonials owl-carousel owl-theme">
            <div class="item">
                <p class="text-lg text-textLight leading-normal">
                    GrowthPad has been working with us to claim R&D tax credits 
                    for two years. Their help has been profoundly valuable to us. 
                    They took the time to get to know us and our business and to 
                    understand our research. Tehsin & the team made the claim 
                    process very easy for us, and we look forward to having a long-term 
                    relationship with them as our R&D tax consultants. 
                    We thoroughly recommend Tehsin and 
                    GrowthPad to anyone thinking about R&D tax credits.
                </p>
                <div class="flex items-center justify-center my-10">
                    <img style="width: 75px;" class="rounded-full mr-4" src="/assets/images/client1.jpg" alt="">
                    <div class="text-lg text-left">
                        <p class="text-textColor mb-0 font-gtWalsheimMedium leading-tight">
                            Chir Ellis
                        </p>
                        <span class="block text-textLight">
                            Grobostic System
                        </span>
                    </div>
                </div>
            </div>
            <div class="item">
                <p class="text-lg text-textLight leading-normal">
                    GrowthPad has been working with us to claim R&D tax credits 
                    for two years. Their help has been profoundly valuable to us. 
                    They took the time to get to know us and our business and to 
                    understand our research. Tehsin & the team made the claim 
                    process very easy for us, and we look forward to having a long-term 
                    relationship with them as our R&D tax consultants.
                </p>
                <div class="flex items-center justify-center my-10">
                    <img style="width: 75px;" class="rounded-full mr-4" src="/assets/images/client2.jpg" alt="">
                    <div class="text-lg text-left">
                        <p class="text-textColor mb-0 font-gtWalsheimMedium leading-tight">
                            Billi Ellish
                        </p>
                        <span class="block text-textLight">
                            Pop Singer
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- second call to actoin -->
<section class="bgCustom3 relative bg-cover bg-center bg-no-repeat py-20" style="background-image: url('/assets/images/thirdBanner.jpg');">
    <div class="container max-w-screen-md mx-auto text-center">
        <h3 class="text-white text-3xl font-gtWalsheimBold leading-tight mb-10">
            Ready to find out how much more your clients could be earning you?
        </h3>
        <a href="" class="shakeAnim inline-block my-2 py-3 px-9 bg-white text-secondery text-xl font-gtWalsheimBolds rounded-lg mr-4 duration-300 hover:opacity-80">
            <span lang="inline">Book a Discovery Call</span>
            <svg class="w-5 ml-3 inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
        </a>
    </div>
</section>