---
title : The R&D Tax Show
layout : subPage.njk
heroHeader: The R&D Tax Show
heroDesc: Everything you need to know about R & D Tax in easy-to-digest bites.
---

<!-- latest episode -->
<section class="py-14">
    <div class="container max-w-screen-xl mx-auto px-4 md:px-9">
        <div class="shadow-lg md:shadow-none lg:bg-gray-50 flex flex-col md:flex-row justify-between items-stretch">    
            <figure class="w-full md:w-5/12 lg:w-2/4">
                <a href="" class="block h-full static md:relative lg:static overflow-hidden">
                    <img class="w-full md:w-auto md:max-w-none lg:w-full md:h-full lg:h-auto md:absolute lg:static md:top-0 md:left-2/4 lg:left-auto md:transform md:-translate-x-2/4 lg:translate-x-0" src="/assets/images/taxShow/tsImg1.jpg" alt="">
                </a>
            </figure>
            <div class="md:w-7/12 lg:w-2/4 px-8 py-6 text-lg">
                <a href="" class="block mb-4 text-secondery text-3xl font-gtWalsheimBold">
                    Episode 9: Do you know if your clients qualify for R&D tax relief?
                </a>
                <span class="block text-textLight mb-2 opacity-80">December 1, 2020</span>
                <p class="mb-4 text-textLight">
                    Today’s episode is to help accountants and tax professionals identify 
                    if they have qualifying clients for R&D tax.  
                    Stick around to learn more. Lets Go!
                </p>
                <a href="" class="block text-secondery">
                    Read More »
                </a>
            </div>
        </div>
    </div>
</section>

<!-- previous episode -->
<section class="bg-gray-100 py-14">
    <div class="container max-w-screen-xl mx-auto px-4 md:px-9">
        <h4 class="mb-14 text-center text-secondery text-3xl font-gtWalsheimBold">
            Previous Episodes
        </h4>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="bg-white shadow-md hover:shadow-sm duration-300">
                <a href="" class="block overflow-hidden h-52 sm:h-80 md:h-60 lg:h-52 relative">
                    <img class="w-full absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4" src="/assets/images/taxShow/tsImg2.jpg" alt="img">
                </a>
                <article class="p-6 font-gtWalsheimMedium">
                    <a href="" class="block text-secondery text-2xl leading-tight font-gtWalsheimBold mb-3">
                        Eveniet in quia consequatur eum
                    </a>
                    <p class="text-textLight text-lg mb-4 opacity-80">
                        November 23, 2020
                    </p>
                    <a href="" class="block text-secondery">
                        Read More »
                    </a>
                </article>
            </div>
            <div class="bg-white shadow-md hover:shadow-sm duration-300">
                <a href="" class="block overflow-hidden h-52 sm:h-80 md:h-60 lg:h-52 relative">
                    <img class="w-full absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4" src="/assets/images/taxShow/tsImg3.jpg" alt="img">
                </a>
                <article class="p-6 font-gtWalsheimMedium">
                    <a href="" class="block text-secondery text-2xl leading-tight font-gtWalsheimBold mb-3">
                        Eveniet in quia consequatur eum
                    </a>
                    <p class="text-textLight text-lg mb-4 opacity-80">
                        November 23, 2020
                    </p>
                    <a href="" class="block text-secondery">
                        Read More »
                    </a>
                </article>
            </div>
            <div class="bg-white shadow-md hover:shadow-sm duration-300">
                <a href="" class="block overflow-hidden h-52 sm:h-80 md:h-60 lg:h-52 relative">
                    <img class="w-full absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4" src="/assets/images/taxShow/tsImg4.png" alt="img">
                </a>
                <article class="p-6 font-gtWalsheimMedium">
                    <a href="" class="block text-secondery text-2xl leading-tight font-gtWalsheimBold mb-3">
                        Eveniet in quia consequatur eum
                    </a>
                    <p class="text-textLight text-lg mb-4 opacity-80">
                        November 23, 2020
                    </p>
                    <a href="" class="block text-secondery">
                        Read More »
                    </a>
                </article>
            </div>
            <div class="bg-white shadow-md hover:shadow-sm duration-300">
                <a href="" class="block overflow-hidden h-52 sm:h-80 md:h-60 lg:h-52 relative">
                    <img class="w-full absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4" src="/assets/images/taxShow/tsImg5.png" alt="img">
                </a>
                <article class="p-6 font-gtWalsheimMedium">
                    <a href="" class="block text-secondery text-2xl leading-tight font-gtWalsheimBold mb-3">
                        Eveniet in quia consequatur eum
                    </a>
                    <p class="text-textLight text-lg mb-4 opacity-80">
                        November 23, 2020
                    </p>
                    <a href="" class="block text-secondery">
                        Read More »
                    </a>
                </article>
            </div>
            <div class="bg-white shadow-md hover:shadow-sm duration-300">
                <article class="p-6 font-gtWalsheimMedium">
                    <a href="" class="block text-secondery text-2xl leading-tight font-gtWalsheimBold mb-3">
                        Eveniet in quia consequatur eum
                    </a>
                    <p class="text-textLight text-lg mb-4 opacity-80">
                        November 23, 2020
                    </p>
                    <a href="" class="block text-secondery">
                        Read More »
                    </a>
                </article>
            </div>
            <div class="bg-white shadow-md hover:shadow-sm duration-300">
                <a href="" class="block overflow-hidden h-52 sm:h-80 md:h-60 lg:h-52 relative">
                    <img class="w-full absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4" src="/assets/images/taxShow/tsImg6.jpg" alt="img">
                </a>
                <article class="p-6 font-gtWalsheimMedium">
                    <a href="" class="block text-secondery text-2xl leading-tight font-gtWalsheimBold mb-3">
                        Eveniet in quia consequatur eum
                    </a>
                    <p class="text-textLight text-lg mb-4 opacity-80">
                        November 23, 2020
                    </p>
                    <a href="" class="block text-secondery">
                        Read More »
                    </a>
                </article>
            </div>
        </div>
        <ul class="flex flex-wrap justify-center text-secondery text-base font-gtWalsheimMedium pt-10">
            <li>
                <a href="" class="p-2 text-textColor">
                    1
                </a>
            </li>
            <li>
                <a href="" class="p-2">
                    2
                </a>
            </li>
            <li>
                <a href="" class="p-2">
                    3
                </a>
            </li>
            <li>
                <a href="" class="p-2">
                    4
                </a>
            </li>
        </ul>
    </div>
</section>