---
title : Why choose GrowthPad?
layout : subPage.njk
heroHeader: Why choose GrowthPad?
---

<!-- simple text -->
<section class="py-14">
    <div class="container max-w-screen-md mx-auto px-4 text-lg text-textColor">
        <p class="mb-8">
            Are you an accountant?
        </p>
        <p class="mb-8">
            Are your clients using the services of another firm 
            for their R&D tax claims?
        </p>
        <p class="mb-8">
            Do your clients claim R&D tax relief but you are kept in 
            the dark of why they qualify?
        </p>
        <p class="mb-8">
            Do you feel frustrated you’re not providing your clients 
            with R&D tax relief services?
        </p>
        <p class="mb-8">
            Do third parties revise your client’s 
            CT600 and tax computations and 
            not provide you with the updated copies?
        </p>
        <p class="mb-8">
            Would you like to be able to refer your clients to someone that 
            specialises in R&D tax relief and does 
            not provide any other accounting services?
        </p>
        <p class="mb-8">
            Someone you can work closely with and ensure both you and your client 
            are provided with great service, 
            without the risk of losing your client to them.
        </p>
        <p class="mb-8">
            Would you like to be given a generous referral fee of 30% 
            of the value of your client’s claim?
        </p>
        <p class="mb-8">
            If so…..
        </p>
        <p class="mb-8">
            You can work with my team and me to ensure your 
            clients are provided with R&D 
            tax services. In return,  we will provide you 
            with a referral fee.
        </p>
        <p class="mb-8">
            This referral fee covers the introduction of your client to us and 
            it’s greater than the industry standard as I do not want 
            you to charge your client any additional 
            fees for the costs associated with the R&D tax claim.
        </p>
        <p class="mb-8">
            My team and I will provide you and your 
            team with the initial training 
            on how to identify a qualifying project.
        </p>
    </div>
</section>

<!-- previous episode -->
<section class="py-16 bg-gray-100">
    <div class="container max-w-screen-xl mx-auto px-4 md:px-9">
        <h3 class="text-secondery text-3xl mb-12 font-gtWalsheimBold text-center">
            Our Team
        </h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="text-center">
                <figure>
                    <img class="w-8/12 mx-auto rounded-full" src="/assets/images/team/team1.jpg" alt="img">
                </figure>
                <article class="p-6">
                    <h4 class="block text-primary text-2xl leading-tight font-gtWalsheimBold mb-3">
                        Tehsin Khan
                    </h4>
                    <span class="block text-xl text-primary font-gtWalsheimMedium text-base mb-4">
                        Founder
                    </span>
                    <p class="text-lg text-textColor">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Ut elit tellus, 
                        luctus nec ullamcorper mattis, pulvinar dapibus leo.
                    </p>
                </article>
            </div>
            <div class="text-center">
                <figure>
                    <img class="w-8/12 mx-auto rounded-full" src="/assets/images/team/team1.jpg" alt="img">
                </figure>
                <article class="p-6">
                    <h4 class="block text-primary text-2xl leading-tight font-gtWalsheimBold mb-3">
                        Tehsin Khan
                    </h4>
                    <span class="block text-xl text-primary font-gtWalsheimMedium text-base mb-4">
                        CEO
                    </span>
                    <p class="text-lg text-textColor">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Ut elit tellus, 
                        luctus nec ullamcorper mattis, pulvinar dapibus leo.
                    </p>
                </article>
            </div>
            <div class="text-center">
                <figure>
                    <img class="w-8/12 mx-auto rounded-full" src="/assets/images/team/team1.jpg" alt="img">
                </figure>
                <article class="p-6">
                    <h4 class="block text-primary text-2xl leading-tight font-gtWalsheimBold mb-3">
                        Tehsin Khan
                    </h4>
                    <span class="block text-xl text-primary font-gtWalsheimMedium text-base mb-4">
                        CTO
                    </span>
                    <p class="text-lg text-textColor">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Ut elit tellus, 
                        luctus nec ullamcorper mattis, pulvinar dapibus leo.
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>